// ### Headings, Call-to-actions, Header Navigation
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
// ## Body
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

// ## Colors
// ### Primary
$Dark-Blue-intro-email: hsl(217, 28%, 15%);
$Dark-Blue-main-background: hsl(218, 28%, 13%);
$Dark-Blue-footer-background: hsl(216, 53%, 9%);
$Dark-Blue-testimonials-background: hsl(219, 30%, 18%);

// ##Accent
$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$Light-Red: hsl(0, 100%, 63%);

// ### Neutral
$White-color: hsl(0, 0%, 100%);

// ## Layout
// The designs were created to the following widths:
$Mobile: 375px;
$Desktop: 1440px;

// ### Body Copy
$Font-size: 14px
